<div class="container mt-5">
    <div class="row">
        <div class="col-2 me-3">
            <div class="col-4">
                <div *ngIf="list.poster_path!=null; else default">
                    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{list.poster_path}}"
                        alt="ID: {{list.id}}">
                </div>
                <ng-template #default>
                    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/3nvGqfZE3yrsqehpF107byUdUSq.jpg"
                        alt="ID: {{list.id}}">
                </ng-template>
            </div>
        </div>
        <div class="col-8">
            <div>
                <ul>
                    <p><strong>FICHA TÉCNICA (LATEST)</strong></p>
                    <hr>
                    TITLE:&nbsp;{{list.title}}<br>
                    ORIGINAL TITLE:&nbsp;{{list.original_title}}<br>
                    ORIGINAL LANGUAGE:&nbsp;{{list.original_language}}<br>
                    ADULT:&nbsp;{{list.adult}}<br>
                    POPULARITY:&nbsp;{{list.popularity}}<br>
                    RELEASE DATE:&nbsp;{{list.release_date}}<br>
                    VOTE COUNT:&nbsp;{{list.vote_count}}<br>
                    VOTE AVERAGE:&nbsp;{{list.vote_average}}<br>
                    <hr>
                    OVERVIEW:&nbsp;{{list.overview}}
                    <hr>
                </ul>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-success" type="button" (click)="router.navigate(['/movies'])">VOLVER A
                    MOVIES</button>
            </div>
        </div>
    </div>
</div>