<p class="text-center"><strong>Filtered by:&nbsp;{{selectedFilter}}</strong></p>
<div class="container mt-5">
    <div *ngIf="list!=null;" else spinner class="row">
        <div class="card me-3 mb-3" style="width: 18rem;" *ngFor="let item of list.results">
            <img src="https://www.themoviedb.org/t/p/w220_and_h330_face{{item.poster_path}}" alt="ID: {{item.id}}">
            <div class="pt-2">
                <p>
                    <span><strong>NAME:</strong>&nbsp;{{item.name}}</span><br>
                    <span><strong>FIRST AIR DATE:</strong>&nbsp;{{item.first_air_date}}</span><br>
                    <span><strong>VOTE AVERAGE:</strong>&nbsp;{{item.vote_average}}</span><br>
                </p>
            </div>
            <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/tv/', item.id]">Ficha Técnica</button>
        </div>
        <ng-template #spinner>
            <div class="spinner-border w-custom h-custom mx-auto" role="status">
                <span class="sr-only"></span>
            </div>
        </ng-template>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="unloadPopularTv()">Previous</a></li>
                <li class="page-item"><a class="page-link" (click)="loadSpecificPage(1)">1</a></li>
                <li class="page-item"><a class="page-link" (click)="loadSpecificPage(2)">2</a></li>
                <li class="page-item"><a class="page-link" (click)="loadSpecificPage(3)">3</a></li>
                <li class="page-item"><a class="page-link" (click)="loadPopularTv()">Next</a></li>
            </ul>
        </nav>
    </div>